            <div class="col-lg-12">
              <ul class="list-unstyled">
              <li>
                <a href="http://midorishop.com.vn" target="_blank"  rel="nofollow">
                  Midorishop
                </a>
              </li>	
              <li>
                <a href="http://mnbrowlashacademy.com" target="_blank" rel="nofollow">
                  mnbrowlashacademy
                </a>
              </li>	
              <li>
                <a href="http://mnbrow.com" target="_blank" rel="nofollow">
                  mnbrow
                </a>
              </li>
              			
            </ul>
          </div>
